* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     /* font-family: Arial, sans-serif; */
    background: url("bgc.jpg") no-repeat;
    background-size: cover;
    color: white;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: #343a40; 
    color: white; 
}

header > h1 {
    text-align: center;
    font-size: 24px;
}

.settings-button {
    background: url('settings-removebg-preview.png') no-repeat center center; /* ustawienia */
    background-size: contain;
    width: 40px; /*przycisk */
    height: 40px;
    border: none;
    cursor: pointer;
}
.settings-button:hover {
    background-color: #4f575f;;
}

main {
    display: flex;
    justify-content: center; 
    padding: 20px;
}

#windowGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dwa okna w lini */
    gap: 20px; 
    width: 100%; 
    max-width: 800px; 
    margin: auto; 
}

.window-card {
    border: 1px solid #000000; 
    background-color: white; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Cień dla okien */
    padding: 20px; 
    text-align: center; 
    background-color: rgb(60,70,99);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon {
    width: auto; 
    height: 100px; 
    margin-bottom: 10px; 
}
.icon:hover{
    height: 100px;
    box-shadow: 0 10px 10px black;
    transition: 0.2s;
}

.window-card5 {
    grid-column: span 2; /* coby było na dwa okna jakby */
    text-align: center; 
    margin-top: 20px; 
    background-color: rgb(60,70,99);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

