* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: url("bgc.jpg") no-repeat;
    background-color: rgb(34, 35, 37);
    background-size: cover;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #343a40;
    color: white;
}

header > h1 {
    text-align: center;
    font-size: 24px;
}

.settings-button {
    background: url('settings-removebg-preview.png') no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.settings-button:hover {
    background-color: #4f575f;
}
.settings-button:active{
    width: 29px;
    height: 29px;
    transition: 0.09s;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#windowGallery {
    display: grid;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.window-card {
    grid-column: span 2;
    border: 1px solid #000000;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    background-color: rgb(60,70,99);
    transition: 0.5s;
}
.window-card:hover {
    background-color: rgb(82, 95, 133);
    box-shadow: 0 5px 5px rgb(48, 48, 48);
}

.icon {
    width: auto;
    height: 35px;
    margin-bottom: 10px;
}

.window-card5 {
    grid-column: span 2;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(60,70,99);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* @media (max-width: 640px) {
    #windowGallery {
        grid-template-columns: 1fr;
    }
} */

@media (min-width: 640px) {
    #windowGallery {
        grid-template-columns: 1fr;
    }
    .window-card {
        padding: 30px;
    }
    .icon {
        width: auto;
        height: 60px;
        margin-bottom: 10px;
    }
    #windowGallery {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 500px;
        margin: auto;
    }
    .settings-button {
        background-size: contain;
        width: 45px;
        height: 45px;
    }
    .settings-button:active{
        width: 44px;
        height: 44px;
        transition: 200;
    }
}

@media (min-width: 940px) {
    header > h1 {
        text-align: center;
        font-size: 26px;
    }
    #windowGallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .window-card {
        grid-column: span 1;
    }
    .window-card5 {
        grid-column: span 2;
    }
    #windowGallery {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    .icon {
        width: auto;
        height: 80px;
        margin-bottom: 10px;
    }

}

@media (min-width: 1920px) {
    header > h1 {
        text-align: center;
        font-size: 38px;
    }
    .window-card {
        padding: 35px;
        font-size: 38px;
    }
    .icon {
        width: auto;
        height: 150px;
        margin-bottom: 20px;
    }
    .settings-button {
        width: 70px;
        height: 70px;
    }
    .settings-button:active{
        width: 69px;
        height: 69px;
        transition: 200;
    }
    #windowGallery {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }
}