* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: url(bgc2.jpg);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #f1e0c6;
}

header > h1 {
    text-align: center;
    font-size: 34px;
    text-shadow: 2px 2px 10px #000000;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    line-height: 15px;
    height: 35px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1000; 
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}
li {
    height: 100%;
    margin-top: 1.5%;
}
a {
    text-align: center;
    text-decoration: none;
    color: #ffda79;
    transition: color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

.submenu {
    width: 100%;
    display: none;
    
    border-radius: 5px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    position: absolute;
    top: 100%;  
    left: 0;
    z-index: 1001;
}

.submenu li {
    padding: 10px;
}

.submenu a {
    padding: 10px;
    color: white;
}

.submenu a:hover {
    background-color: #555;
}

nav ul li:hover .submenu {
    display: flex;
    flex-direction: column;
    background-color: #333;
}

main {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

.wrapper {
    margin: auto;
    perspective: 3000px;
}

.card {
    width: 200px;
    height: 280px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.card:hover {
    transform: rotateY(180deg);
}

.front-page,
.back-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.front-page {
    background-size:contain;
    background-repeat: no-repeat;
}

.card-info {
    display: none;
    position: absolute;
    bottom: 50px;
    color: #3c3a3a;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-title {
    font-weight: bold;
}

.card-subtitle {
    margin-top: 5px;
    color: #0fbcf9;
}

.back-page {
    background-color: #3e2723;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-content {
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.card-content h5 {
    font-weight: bold;
    margin-bottom: 15px;
}

.card-description {
    font-size: small;
    color: #ccc;
    /* margin-bottom: 20px; */
    /* line-height: 1.6; */
}

.card-button {
    margin-top: 20px;
    background-color: #533530;
    color: #fff;
    padding: 2% 5%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-button:hover {
    background-color: transparent;
    color: #f1e0c6;
    border: 1px solid #694a07;
}

footer {
    height: 40px ;
}

.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1e272e;
    color: #fff;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #4e4e4e;
}

.close-popup:hover {
    color: red;
}
