* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: url("bgc.jpg") no-repeat;
    background-color: rgb(34, 35, 37);
    background-size: cover;
}
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #343a40;
    color: #cdcdcd;
}
header > h1 {
    display: flex;
    text-align: center;
    font-size: 20px;
}

nav {
    background-color: #343a40;
}
nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 1px;
    justify-content: space-between;
}
nav > ul > li {
    width: 100%;
}
nav > ul > li:hover{
    background-color: #495158;
}
nav a {
    display: block;
    line-height: 5vh;
    text-decoration: none;
    text-align: center;
    color: #cdcdcd;
}
section > header > h2 {
    text-align: center;
}
/* header > h2 {
    text-align: center;
} */
/* .scroll-box {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 180px;
    overflow-y: scroll;
    border: 2px solid rgb(35, 40, 57);
    background-color: rgb(60,70,99);
    margin-bottom: 20px;
    padding: 10px;
    color: white;
}
.scroll-box::-webkit-scrollbar {
    width: 12px;
}

.scroll-box::-webkit-scrollbar-track {
    background-color: rgb(94, 110, 158);
    border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: rgb(173,131,145);
    border-radius: 10px;
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background: rgb(195,153,158);
} */

.carousel-container {
    padding-top: 7%;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-left: 7%;
    margin-right: 7%;
    box-sizing: border-box; 
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}
.carousel-item {
    flex: 0 0 100%;
    text-align: center;
    padding: 20px;
    top: 20%;
    width: 120%;
    background-color: rgb(60,70,99);
    color: #cdcdcd;
    border: 1px solid #ccc;
}
.carousel-item > header {
    background-color: rgb(60,70,99);
}
.carousel-item > header > h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
.carousel-item > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.arrow {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #a09f9f;
    z-index: 10;
}
.arrow:hover{
    color: #cdcdcd;
}
.left-arrow {
    left: 0;
}
.right-arrow {
    right: 0;
}
