*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > header {
    text-align: center;
    line-height: 15vh;
    background-color: rgb(97, 96, 96);
}

nav {
    height: 7vh;
    background-color: rgb(97, 96, 96);
    margin: 2px;
}
nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}
nav > ul > li {
    width: 20wh;
}
nav a {
    display: block;
    line-height: 5vh;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
}
nav a:hover {
    background-color:azure;
}
nav > ul > li > ul {
    list-style-type: none;
    width: 10vw;
    display: none;
  }
nav > ul > li:hover > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(54, 53, 53);
    color: white;
}
nav > ul > li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    line-height: 5vh;
}


main {
    display: flex;
}
main > aside {
    margin: 2px;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(97, 96, 96);
    height: 70vh;
}
main > aside > ul {
    list-style-type: none;
    justify-content: space-around;
}
main a:hover{
    background-color: azure;
}
main > aside > ul > li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    line-height: 5vh;
    text-align: justify;
    color: #161616;
}

main > article {
    margin: 1px;
    display: flex;
    flex-direction: column;
    width: 60vw;
    text-align: center;
    border: solid 1px;
    height: 70vh;
    background-color: rgb(109, 110, 110);
}
main > article > h2 {
    border: solid 1px;
}
main > article p {
    border: 3px;
    display: flex;
    flex-direction: column;
    
}


footer{
    background-color: rgb(97, 96, 96);
    margin: 2px;
    height: 7vh;
    text-align: center;
    font-size: large;
    align-items: center;
    line-height: 7vh;
}