* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: url('../library-texture.jpg') no-repeat center center fixed;
    background-color: #3e2723;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    color: #f8e5c0;}
body::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(45, 30, 20, 0.7); /* Ciemniejsze przyciemnienie */
    background-size: auto;
    backdrop-filter: blur(3px);
    z-index: -1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #f1e0c6;
}

header > h1 {
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 10px #000000;
}

/* ===========settings===================== */

.settings-button {
    background: url('./ikony/settings-removebg-preview.png') no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.settings-button:hover {
    background-color: rgba(1, 1, 1, 0.5);
    border-radius: 50%;
}
.settings-button:active{
    width: 29px;
    height: 29px;
    transition: 0.09s;
}

/* ===========menu================== */

.menu-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.menu-button {
    width: 100%;
    border: 1px solid #b99160;
    background: rgba(85, 65, 45, 0.3);
    color: #f8e5c0;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(85, 65, 45, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid #b99160;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    z-index: 1002;
    text-align: center;
}

.menu-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-content ul li {
    position: relative; /* Umożliwia prawidłowe pozycjonowanie submenu */
    margin: auto;
    padding: 15px;
}

.menu-content ul li a {
    display: block;
    color: #f8e5c0;
    text-decoration: none;
}

/* Pokazuje menu po najechaniu na kontener */
.menu-container:hover .menu-content {
    display: block;
}

/* Submenu pojawia się pod elementem nadrzędnym */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(85, 65, 45, 0.9);
    border-radius: 10px;
    border: 1px solid #b99160;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1003;
    padding: 5px 0;
    min-width: 100%;
    flex-direction: column;
}

.menu-content ul li:hover .submenu {
    display: flex;
}

.submenu > li {
    padding: 5px 10px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.submenu > li a {
    color: #f8e5c0;
    text-decoration: none;
}

.submenu > li:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

section > header > h4 {
    text-align: center;
}

/* ============== main core ================= */

main.core {
    display: flex;
    justify-content: center;
    
}
.event-card {
    z-index: 0;
    margin-top: 5%;
    background: rgba(85, 65, 45, 0.3); /* Ciemniejszy background */
    color: #f8ddaa;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
    border: 1px solid #e3c27b;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.event-card:hover {
    transform: translateY(-10px);
}

.event-header {
    background-size: cover;
    background-position: center;
    height: 200px;
}
.event-content > h2 {
    color: #e2c68d;

}
.event-content {
    padding: 20px;
}

.event-date {
    color: #777;
    margin-bottom: 10px;
}

.reactions {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    cursor: pointer;
}

.reaction:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

/*============okienka core galeria================  */

#windowGallery {
    display: grid;
    gap: 7px;
    width: 100%;
    /* max-width: 300px; */
    margin: auto;
}

.window-card {
    grid-column: span 2;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    background-color: #3e2723;
    transition: 0.5s;
}
.window-card:hover {
    background-color: #4e342e;
    box-shadow: 0 5px 5px rgb(48, 48, 48);
}

.icon {
    width: auto;
    height: 35px;
    margin-bottom: 10px;
}

.window-card5 {
    grid-column: span 2;
    text-align: center;
    margin-top: 10px;
    background-color: #3e2723;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ============= main eventy ================= */

main.eventy {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    position: relative;
}

/* =============lektury================= */

.carousel-container {
    padding-top: 7%;
    position: relative;
    display: flex;
    overflow: hidden;
    margin-left: 7%;
    margin-right: 7%;
    box-sizing: border-box; 
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}
.carousel-item {
    flex: 0 0 100%;
    text-align: center;
    padding: 20px;
    top: 20%;
    width: 120%;
    background: rgba(85, 65, 45, 0.6); /* Ciemniejszy background */
    color: #f8e5c0;
    border: 1px solid #b99160;
}

.carousel-item > header > h4 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
}
.carousel-item > p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.arrow {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    font-size: 35px;
    font-weight: 10px;
    cursor: pointer;
    color: #f1e0c6;
    z-index: 10;
}
.arrow:hover{

    color: #b8ac9b;
}
.left-arrow {
    left: 0;
    margin-left: 5px;
}
.right-arrow {
    right: 0;
    margin-right: 5px;
}


/* lektury */

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #fff;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}

/* ================katalog================ */
/* Styl wyszukiwania */
#szukaj {
    background: rgba(85, 65, 45, 0.3); /* Ciemniejszy background */
    display: flex;
    margin: 2px;
    border: 1px solid #b99160;
}

#szukaj > input {
    background: rgba(85, 65, 45, 0.3); /* Ciemniejszy background */
    width: 70%;
    height: auto;
    margin-left: 30%;
    border: 1px solid #b99160;
    color: #e2c68d;
}

#szukaj ::placeholder {
    color: #e2c68d;
}

/* Kontener główny katalogu */
main.katalog {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.wrapper {
    margin: auto;
}

/* Styl kart książek */


#szukaj {
    background: rgba(85, 65, 45, 0.3);
    display: flex;
    margin: 2px;
    border: 1px solid #b99160;
}

#szukaj > input {
    background: rgba(85, 65, 45, 0.3);
    width: 70%;
    height: auto;
    margin-left: 30%;
    border: 1px solid #b99160;
    color: #e2c68d;
}

#szukaj ::placeholder {
    color: #e2c68d;
}

main.katalog {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.wrapper {
    margin: auto;
}

.card {
    width: 120px;
    height: 180px;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    cursor: pointer;
    border: 1px solid #b99160;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    position: relative;
}

.card:hover {
    transform: rotateY(180deg);
}

.front-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background: rgba(85, 65, 45, 0.3); /* Ciemniejszy background */
    background-image: url('ścieżka/do/twojego/zdjęcia.jpg'); /* Twoje zdjęcie jako tło */
    background-size: contain; /* Ustawienie zdjęcia, by było mniejsze */
    background-repeat: no-repeat; /* Zapobiega powtarzaniu zdjęcia */
    background-position: center; /* Wyśrodkowanie zdjęcia */
    backdrop-filter: blur(6px); /* Efekt rozmycia tła */
    border: 1px solid transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Cień */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.front-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Przysłona z czarną przezroczystością */
    border-radius: 15px;
}

.card:hover .front-page {
    transform: scale(1.03);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.5);
}



.back-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    color: #e2c68d;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.card-info {
    display: none;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 10px;
    color: #cacac9;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.card-content {
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.card-description {
    color: #f8e5c0;
}

.card-button {
    margin-top: 5%;
    background-color: #a67c52;
    color: white;
    padding: 2% 5%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-button:hover {
    background-color: transparent;
    color: #f1e0c6;
    border: 1px solid #694a07;
}

.popup {
    display: none;
    margin: auto; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #1e272e;
    color: #fff;
    padding: 20px;
    width: 400px;
    max-width: 90%;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #cac2c2;
}

.close-popup:hover {
    color: red;
}
#popup-title {
    color: white;
}



/* =========wydarzenia  =========================*/



@media (min-width: 640px) {
    main.eventy {
        grid-template-columns: repeat(2, 1fr);
    }
    main.katalog {
        grid-template-columns: repeat(4, 1fr);
    }
    body{
        font-size:medium;
    }
    .card{
        width: 160px;
        height: 220px;
    }
    #szukaj{
        margin-right: 10px;
        /* width: 30%px; */
    }
    #szukaj > input {
        width:90%;
        height: auto;
        margin-left: 10%;
        border: 1px solid #b99160;
        /* border-radius: 15%; */
        
    }
    #windowGallery {
        grid-template-columns: 1fr;
    }
    .window-card {
        padding: 30px;
    }
    .icon {
        width: auto;
        height: 60px;
        margin-bottom: 10px;
    }
    #windowGallery {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 500px;
        margin: auto;
    }
    .settings-button {
        background-size: contain;
        width: 45px;
        height: 45px;
    }
    .settings-button:active{
        width: 44px;
        height: 44px;
        transition: 200;
    }
}

@media (min-width: 940px) {
    body{
        font-size:large;
    }
    header > h1 {
        text-align: center;
        font-size: 26px;
    }
    #szukaj > input {
        width:110%;
        height: auto;
        margin-left: 0%;
        border: 1px solid black;
        /* border-radius: 15%; */
        font-size: 20px;
    }
    .menu-button{
        display: none;
    }
    .menu-container{
        width: 100%;
    }
    .menu-content {
        margin: auto;
        display: block;
        flex-direction: row;
        width: auto;
        justify-content: space-evenly;
        line-height: 3vh;
        height: 8vh;
        backdrop-filter: blur(10px);
        border-radius: 30px;
        position: relative;
        z-index: 1000; 
    }
    .menu-content > ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .submenu > li {
        background: rgba(85, 65, 45, 0.3); /* Ciemniejszy background */
        backdrop-filter: blur(10px);
        border-radius: 30px;
        border: 1px solid #b99160;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
        position: relative;
        margin: 10px;
    }
    main.eventy {
        grid-template-columns: repeat(3, 1fr);
    }
    
    #windowGallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .window-card {
        grid-column: span 1;
    }
    .window-card5 {
        grid-column: span 2;
    }
    #windowGallery {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    .icon {
        width: auto;
        height: 80px;
        margin-bottom: 10px;
    }
    main.katalog {
        grid-template-columns: repeat(5, 1fr);
    }
    .card{
        width: 180px;
        height: 360px;
    }

}

@media (min-width: 1920px) {
    header > h1 {
        text-align: center;
        font-size: 38px;
    }
    #szukaj > input {
        width:140%;
        height: auto;
        margin-left: 0%;
        border: 1px solid black;
        /* border-radius: 15%; */
        font-size: 25px;
    }
    main.eventy {
        grid-template-columns: repeat(4, 1fr);
    }
    main.katalog {
        grid-template-columns: repeat(6, 1fr);
    }
    body{
        font-size: larger;
    }

    .card{
        width: 220px;
        height: 300px;
    }
    body{
        font-size: larger;
    }
    .window-card {
        padding: 35px;
        font-size: 38px;
    }
    .icon {
        width: auto;
        height: 150px;
        margin-bottom: 20px;
    }
    .settings-button {
        width: 70px;
        height: 70px;
    }
    .settings-button:active{
        width: 69px;
        height: 69px;
        transition: 200;
    }
    #windowGallery {
        display: grid;
        gap: 20px;
        width: 100%;
        max-width: 1500px;
        margin: auto;
    }
}

.notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    max-width: 300px;
}

.notification {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: none; 
    transition: opacity 0.5s, transform 0.5s;
}

.notification.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(20px);
}

.notification.error {
    background-color: #f44336;
    color: white;
}

